<div class="row  mx-2 my-4">
    
    <div class="col-sm-10">
        <div class="card">
            <h5 class="card-header bg-light">{{product.name}}</h5>
            <div class="card-body">
                <h5 class="card-title">{{product.desc}}</h5>
                <h5 class="card-text text-center">
                    <span class="font-weight-light"><cite>Rs </cite>{{product.price}}</span>
                </h5>
            </div>
        </div>
    </div>
    <div class="col-sm-2  pt-5">
        <div class="btn btn-warning">Count <span class="badge badge-light">{{product.count}}</span></div>
    </div>
</div>

